
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');
@import './text.scss';
@import './scrollbar.scss';
@import './transitions.css';
@import './breakdowns.scss';
@import './menu-toggle.css';
@import './table.scss';
@import './colors.scss';
@import 'pell/dist/pell.css';


@tailwind base;
@tailwind components;
@tailwind utilities;


body, html {
  overflow-x: hidden;
}

.max-w-full-vw {
  max-width: calc(100vw - 64px);
}

.min-h-container {
  min-height: calc(100vh - 192px);
}

.h-container {
  height: calc(100vh - 192px);
}

.h-container-50 {
  height: calc(50vh - 192px);
}

button {
  @apply focus:outline-none focus:ring;
}
