.menu-toggle{
  line-height:8px;
  position:relative;
  outline:none;
  width:25px;
  height:16px;
  border:none;
  background:transparent;
  -webkit-appearance:none;
  appearance:none
}
.menu-toggle .menu-toggle-bar{
  position:absolute;
  bottom:8px;
  left:0;
  display:inline-block;
  width:25px;
  height:2px;
  transition:top .4s ease,opacity .4s ease,-webkit-transform .4s ease;
  transition:top .4s ease,transform .4s ease,opacity .4s ease;
  transition:top .4s ease,transform .4s ease,opacity .4s ease,-webkit-transform .4s ease;
  background:#fff
}
.menu-toggle .menu-toggle-bar:first-child,.menu-toggle .menu-toggle-bar:last-child{
  position:absolute
}
.menu-toggle .menu-toggle-bar:first-child{
  top:-1px
}
.menu-toggle .menu-toggle-bar:last-child{
  bottom:1px
}
.menu-toggle.active .menu-toggle-bar:first-child{
  top:7px;
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg)
}
.menu-toggle.active .menu-toggle-bar:nth-child(2){
  opacity:0
}
.menu-toggle.active .menu-toggle-bar:last-child{
  top:7px;
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg)
}