/* Scrollbars */
/* ----------------------------------------- */
*::-webkit-scrollbar {
  width: 12px; 
  height: 8px;

}
*::-webkit-scrollbar:vertical {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

*::-webkit-scrollbar:horizontal {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

*::-webkit-scrollbar-thumb {
  background: #164e63;
}

*::-webkit-scrollbar-track {
  background: #164e6330 !important;
}

*::-webkit-scrollbar-corner {
  display: none;
}


/* ----------------------------------------- Scrollbars */