


h1, .h1 { 
  font-size: 2.25rem !important;
  line-height: 2;
  font-weight: 600;
}
h2, .h2 { 
  font-size: 1.6rem !important; 
  line-height: 2;
  font-weight: 600;
}
h3, .h3 { 
  font-size: 1.4rem !important; 
  line-height: 2;
  font-weight: 600;
}
h4, .h4 { 
  font-size: 1.2rem !important; 
  line-height: 2;
  font-weight: 600;
}
h5, .h5 { 
  font-size: 1.2rem !important; 
  line-height: 2;
  font-weight: 500;
}
body, p, .p { 
  font-size: 1.2rem !important; 
  line-height: 1.85;
  font-weight: 400;
}